.blog__content {
  max-width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1454px) {
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
}