.page__content {
  height: 100vh;
  display: flex;
  padding: 0;
}

.main__content {
  width: 100%;
  margin: 0 95px 0 320px;
}

.render__content {
  height: auto;
  padding: 5px 10px 5px 10px;
  margin-top: 100px;
}

.navbar__left {
  width: 320px;
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  left: 0;
  right: auto;
  top: 0;
  border-right: 1px solid #d2d2d2;
}

.navbar__right {
  height: 100%;
  right: 0;
  left: auto;
  top: 0;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  border-left: 1px solid #d2d2d2;
  padding: 0 10px 0 10px;
  background-color: white;
}

@media only screen and (min-height: 591px) {
  .main__content {
    margin: 0 80px 0 320px;
  }
}

@media only screen and (max-width: 1454px) {
  .navbar__right {
    display: none;
  }

  .main__content {
    margin: 0 0 0 320px;
  }

  .render__content {
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 968px) {
  /* For mobile phones: */
  .navbar__left {
    display: none;
  }

  .main__content {
    margin: 0;
  }

  .render__content {
    margin-top: 75px;
  }
}
