.navbar_left {
  height: 100%;
  position: relative;
}

.circle__image {
  width: 150px;
  border-radius: 50%;
}

.profile__content {
  text-align: center;
  padding-bottom: 22px;
}

.profile__content h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.profile__content p {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.social__media {
  display: inline-flex;
}

.social__media a img {
  width: 30px;
  margin: 20px 8px 0 8px;
}

.social__media a img:hover {  
  background-color: #d2d2d2;
  border-radius: 50%;
  padding: 2px;
}
