.navbar__right {
  height: 100%;
  padding: 10px 10px 0 10px;
}

.menu__top {
  height: 33%;
  padding-top: 5px;
}

.menu__top img {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu__top img:hover {
  background-color: #d2d2d2;
  border-radius: 50%;
  padding: 2px;
}

.menu__middle {
  height: 33%;
  display: table;
}

.menu__middle__content {
  display: table-cell;
  vertical-align: bottom;
}

.menu__middle img {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu__middle img:hover {
  background-color: #d2d2d2;
  border-radius: 50%;
  padding: 2px;
}

.menu__bottom {
  height: 33%;
  display: table;
}

.menu__bottom__content {
  display: table-cell;
  vertical-align: bottom;
}

.menu__bottom img {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 15px;
}

.menu__bottom img:hover {
  background-color: #d2d2d2;
  border-radius: 50%;
  padding: 2px;
}
