.navbar__top {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  padding: 20px 440px 15px 20px;
  background-color: white;
}

.menu__left {
  display: inline-flex;
  width: 50%;
}

.menu__left a img {
  width: 35px;
  margin: 0;
}

.menu__left a img:hover {
  background-color: #d2d2d2;
  border-radius: 50%;
  padding: 2px;
}

.menu__right {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.menu__right ul {
  list-style: none;
  margin-bottom: 0;
}

.menu__right ul li {
  margin: 0;
}

.menu__right ul li a img {
  width: 30px;
}

@media only screen and (min-height: 591px) {
  .navbar__top {
    padding: 20px 425px 15px 20px;
  }
}

@media only screen and (max-width: 1454px) {
  .navbar__top {
    padding: 20px 345px 15px 20px;
  }
}

@media only screen and (max-width: 968px) {
  /* For mobile phones: */
  .navbar__top {
    padding: 10px 20px 5px 20px;
  }
}
