.navbar__bottom {
  width: 100%;
  border-top: 1px solid #d2d2d2;
  position: fixed;
  z-index: 1;
  bottom: 0;
  background-color: white;
}

.menu__left {
  display: inline-block;
  width: 33%;
}

.menu__left img {
  width: 40px;
  margin: 0;
}

.menu__left img:hover {
  background-color: #d2d2d2;
  border-radius: 50%;
  padding: 2px;
}

.menu__middle {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.menu__middle img {
  width: 40px;
  margin: 0;
}

.menu__middle img:hover {
  background-color: #d2d2d2;
  border-radius: 50%;
  padding: 2px;
}

.menu__right {
  display: inline-block;
  width: 33%;
  text-align: right;
}

.menu__right img {
  width: 40px;
  margin: 0;
}

.menu__right img:hover {
  background-color: #d2d2d2;
  border-radius: 50%;
  padding: 2px;
}

@media only screen and (min-height: 591px) {
  .navbar__bottom {
    padding: 10px 335px 0 20px;
  }
}

@media only screen and (min-width: 1455px) {
  .navbar__bottom {
    display: none;
  }
}

@media only screen and (max-width: 968px) {
  /* For mobile phones: */
  .navbar__bottom {
    padding: 10px 20px 0 20px;
  }
}
